
#body {
  background-color: black;
  /* familia tipografica */
  font-family: 'calibri';
  /* color */
  color: white;
  /* para centrar la lettra */
  text-align: center;
}

.Principal {

	/* Altura */
	height: 450px;
	/* Anchor */
	width: 650px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #3C6B7A;

    position: relative;
    top: 150px;
    left: 330px;
    
}

.hea{
		/* Altura */
	height: 50px;
	/* Anchor */
	width: 627px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #0E4B7A;
    /* el margen entre dos elementos  */
 	margin: 10px;
}


.pri {
	/* Es para ordenar en cuadros  */
	display: flex;
}


.pri nav{

	/* Altura */
	height: 250px;
	/* Anchor */
	width: 200px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #0E4B7A;
    /* el margen entre dos elementos  */
 	margin: 10px;
}




.pri section{
		/* Altura */
	height: 250px;
	/* Anchor */
	width: 200px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #0E4B7A;
    /* el margen entre dos elementos  */
 	margin: 10px;


}

.pri aside{
		/* Altura */
	height: 250px;
	/* Anchor */
	width: 200px;
	/* Para alinear las cosas */
  	align-items: center;
  	/* Color */
    background-color: #0E4B7A;
    /* el margen entre dos elementos  */
 	margin: 10px;
}


.pri header{
		/* Altura */
	height: 50px;
	/* Anchor */
	width: 150px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #326E2C;
    /* el margen entre dos elementos  */
 	margin: 10px;

 	position: relative;
    top: 10px;
    left: 18px;
}

.pri article{
		/* Altura */
	height: 70px;
	/* Anchor */
	width: 150px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #326E2C;
    /* el margen entre dos elementos  */
 	margin: 10px;

 	position: relative;
    top: 15px;
    left: 18px;
}

.pri footer{
		/* Altura */
	height: 50px;
	/* Anchor */
	width: 150px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #326E2C;
    /* el margen entre dos elementos  */
 	margin: 10px;

 	position: relative;
    top: 20px;
    left: 18px;

}








.foo{
		/* Altura */
	height: 50px;
	/* Anchor */
	width: 627px;
	/* Para alinear las cosas */
  	align-items: flex-start;
  	/* Color */
    background-color: #0E4B7A;
    /* el margen entre dos elementos  */
 	margin: 10px;
}

